@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create account or Sign-in</h1>
    <div>
        <a asp-action="Login">Login</a>
    </div>
    <div>
        <a asp-action="Create">Create Account</a>
    </div>
</div>
