@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1 class="">Create account or Sign-in</h1>
</div>

<div class="vertical-container">
    <div class="vertical-item">
        <a asp-action="Login">Login</a>
    </div>
    <div class="vertical-item">
        <a asp-action="Create">Create Account</a>
    </div>
</div>
