
/* Controls */

#search-bar{
    display:flex;
}

#search-bar input[type='text']{
    width:100%;
    border:none;
}

#search-button{
    border:none;
    background:white;
    height:30px;
    position: inherit;
}

/*Coloring*/



/*Formatting*/
.center-text{
    text-align:center;
}

.wide{
    width:100%;
}



/*Animations*/